.bt{
    margin-left :5px;
    margin-top: 15px;
}
#p1{
    margin-left :10px;
}
#im{
    margin-left :90px;
}
.logo{
    margin-top :5px;
}
#mail{
    width:40%;
}
#pass {
    width:40%;
}
.conn{
    margin-left :150px;
    margin-right: 20px;
}
.s1{
    width: 60%;
    padding-left: 10%;
}
#bt_send{
    margin-left :130px;
    margin-right: 20px;
}
.titre{
    color:rgb(70, 126, 136);
}
.s2{
    margin-left: 20%;
    
}
.bg{
    background-color: rgba(166, 199, 241, 0.384);
}
.s3{
    margin-top: 80px;
    margin-left: 30%;
    width: 40%;
    background-image: url("../images/map.png");
}